<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,  minimum-scale=1.0, user-scalable=0" />
	<title></title>

	{{!-- <link rel="shortcut icon" type="image/x-icon" href="./static/image/favicon.ico" /> --}}
    
	<link rel="stylesheet" href="./static/lib/color-picker/color-picker.min.css">

	<script language="javascript" src="./static/lib/jquery/jquery-2.2.0.min.js"></script>
	<script language="javascript" src="./static/lib/jquery/jquery.cookie.js"></script>
	<script language="javascript" src="./static/lib/color-picker/color-picker.min.js"></script>
</head>

<body style="margin:0px;">
	<script type="text/javascript">
		{{#unless htmlWebpackPlugin.options.build}}
		__debug__=true;
		{{/unless}}
		{{#if htmlWebpackPlugin.options.cdn}}
		__cdn__=true;
		{{/if}}
	</script>
	<div class="app" id="app"></div>
</body>

</html>
